.create-order-block {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-bottom: 16px;
    padding: 8px;
}

.form-create-order {
    display: flex;
    flex-direction: column;

}

.label-create-order {
    margin-bottom: 8px;
}

.input-create-order,
.select-create-order {
    margin-bottom: 16px;
}
.button-create-order {
    margin-top: 16px;
}