{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container create-order-block">
        <h1>Create Order</h1>
        <form class="form-create-order" method="POST">
            <div class="container">
                <label class="label-create-order" for="account_id">Account ID:</label>
                <input class="input-create-order" type="text" id="account_id" name="account_id">
            </div>
            <div class="container">
                <label class="label-create-order" for="symbol">Symbol:</label>
                <input class="input-create-order" placeholder="AAPL" style="text-transform: uppercase;" type="text" id="symbol" name="symbol">
            </div>
            <div class="container">
                <label class="label-create-order" for="qty">Quantity:</label>
                <input class="input-create-order" type="number" id="qty" name="qty">
            </div>
            <div class="container">
                <label class="label-create-order" for="notional">Notional:</label>
                <input class="input-create-order" type="number" id="notional" name="notional">
            </div>
            <div class="container">
                <label class="label-create-order" for="side">Side:</label>
                <select class="select-create-order" name="side" id="side">
                    <option value="buy">Buy</option>
                    <option value="sell">Sell</option>
                    <option value="buy_minus">Buy Minus</option>
                    <option value="sell_plus">Sell Plus</option>
                    <option value="sell_short">Sell Short</option>
                    <option value="sell_short_exempt">Sell Short Exempt</option>
                    <option value="undisclosed">Undisclosed</option>
                    <option value="cross">Cross</option>
                    <option value="cross_short">Cross Short</option>
                </select>
            </div>
            <div class="container">
                <label for="type">Type:</label>
                <select class="select-create-order" name="type" id="order_type">
                    <option value="market">Market</option>
                    <option value="limit">Limit</option>
                    <option value="stop">Stop</option>
                    <option value="stop_limit">Stop Limit</option>
                    <option value="trailing_stop">Trailing Stop</option>
                </select>
            </div>
            <div class="container">
                <label for="time_in_force">Time In Force:</label>
                <select class="select-create-order" name="time_in_force" id="time_in_force">
                    <option value="day">Day</option>
                    <option value="gtc">GTC</option>
                    <option value="opg">OPG</option>
                    <option value="cls">CLS</option>
                    <option value="ioc">IOC</option>
                    <option value="fok">FOK</option>
                </select>
            </div>
            <div class="container">
                <label for="subtag">Subtag:</label>
                <input type="text" name="subtag" id="subtag">
            </div>
            <button class="button-create-order" type="button">Create order</button>
        </form>
    </div>
    <div class="container create-order-block">
        <H1>Cancel Order</H1>
        <form class="form-create-order" method="POST">
            <div class="container">
                <label for="account_id">Account ID:</label>
                <input class="input-create-order" type="text" name="account_id" id="cancel_account_id">
            </div>
            <div class="container">
                <label for="order_id">Order ID:</label>
                <input class="input-create-order" type="text" name="order_id" id="cancel_order_id">
            </div>
            <button class="button-cancel-order" type="button">Cancel order</button>
        </form>
    </div>
    <script src="{% static 'js/cancel-order.js' %}"></script>
    <script src="{% static 'js/create-order.js' %}"></script>
    <script src="{% static 'js/list-orders.js' %}"></script>
</body>

</html>